html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .container {
    max-width: 250px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .site-section {
    margin-top: 140px;
    font-size: 22px; 
    text-align: center;
  }
  
  .site-section__title {
    color: green;
  }
  
  .site-section__span {
    display: block; 
    font-size: 35px; 
    margin-bottom: 70px;
  }
  
  .form-wrapper {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
  
  .amount-money {
    margin-right: 20px; 
    padding: 20px;
    font-size: 20px;
  }
  
  .currencies {
    font-size: 20px;
    padding: 20px; 
    margin-right: 20px;
  }
  
  .money-uzs {
    font-size: 40px; 
    color: blue; 
    text-align: center; 
  }
  
  .form-button {
    padding-top: 18px; 
    padding-bottom: 18px; 
    width: 100%; 
    border: 3px solid rgb(31, 255, 31); 
    background-color: transparent; 
    display: block; 
    margin-left: -300px; 
    margin-top: 150px;
    font-size: 20px
  }